.fixed-table-toolbar {
  padding: 10px;
}

.table tbody tr td {
  padding: 0 10px;
  align-content: center;
}

.fixed-table-toolbar .bs-bars {
  width: 40%;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.frame_media iframe {
  overflow: scroll; /* or overflow: auto; */
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
}
