.fixed-table-toolbar {
    padding: 10px;
}

.table tbody tr td {
    padding: 0 5px;
    align-content: center;
}

.fixed-table-toolbar .bs-bars {
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .pagination-detail .pagination{
     margin-left: 100px;
    }
}