.sidebar-menu > li > a > i {
  margin-right: 5px;
}

.clear-margin {
  margin: 0;
  color: #e8e8e8;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.table {
  font-size: 12px;
}

.link-edu-btn {
  display: flex;
  flex-direction: column;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* You can add other styling properties as needed */
  max-width: 270px; /* Set a maximum width if desired */
}
@media (min-width: 811px) {
  .overflow-ellipsis {
    max-width: 500px; /* Set a maximum width if desired */
  }
}
