.sidebar-menu > li > a > i {
  margin-right: 5px;
}

.clear-margin {
  margin: 0;
  color: #e8e8e8;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.link-edu-btn {
  display: flex;
  flex-direction: column;
}

.table tbody tr td {
  padding: 0 5px;
  align-content: center;
}

.table {
  margin-bottom: 0px !important;
}
